/*すべてのページに共通する内容(ヘッダー、パンくずリスト)を記述*/
body{
  padding-bottom: 70px;
}

.pankuzu {/*pankuzuクラス*/
  margin: 0;
  text-align: left;
  padding-top: 10%;
}

@media screen and (max-width : 800px) {/*横幅が800pxを下回った時*/
    .pankuzu{ padding-top: 15%;}
}

@media screen and (max-width : 420px){/*横幅が420pxを下回った時*/
    .pankuzu{ padding-top: 20%;}
}

@media screen and (min-width : 1000px) {/*横幅が1000pxを上回った時*/
    .pankuzu{ padding-top: 5%;}
}

@media screen and (min-width : 2000px) {/*横幅が2000pxを上回った時*/
    .pankuzu{ padding-top: 2.5%;}
}

.txt {/*txtクラス*/
  margin:0;
  text-align: center;
  padding-bottom: 60px;
}

div[class=item_txt] .txt {/* class=item_txt の div の下の txtクラス*/
  margin:0;
  text-align:left;
  padding-bottom: 0px;
}

div[class=item_txt] .ttl{/* class=item_txt の div の下の ttlクラス*/
  text-align: left;
  padding-bottom: 70px;
}

img{
  max-width: 100%;
}

li[class="headMenu"] a{/* class="headMenu" を持つ li の中の a 要素*/
  color: lightSeaGreen;
}

div#headerArea {
    font-size : 87.5%;
}

@media screen and (min-width : 768px){
    div#headerArea{ font-size : 100%;}
}

@media screen and (min-width : 1024px) {
    div#headerArea{ font-size : 140%};
}

div#headerArea {/*div の内 id=headerArea であるもの*/
    position: fixed !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: #fff;
    z-index: 1031;
}

li.headMenu{/*li の内 class=headMenu であるもの*/
  display: block;
  float: left;
  width:16%;/*width:250px;*/
  height :100%;/*height:50px;*/
  background-color:#000000;
  border-style: double;
  border-width: thin;
  border-color: white;
  text-align: center;
  color: lightSeaGreen;
}

li.headMenu:hover{/*li の内 class=headMenu であるものにマウスが乗った時　書かれている要素のみ上書きされる*/
  color: indianRed;
  text-decoration: none;
}

* html div#contentsArea{
    height: 100%;
    overflow: auto;
}

div#footerArea {/*div の内 id=footerArea であるもの*/
    position: fixed !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #4E9ABE;
    color: #fff;
    z-index: 1031;
}

@media screen and (max-width: 768px) {
  .navbar-brand{
    float: left;
    height: 50px;
    padding-top: 15px;
    padding-left: 60px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-brand{
    float: left;
    height: 50px;
    padding-top: 15px;
    padding-left: 80px;
    font-size: 18px;
    line-height: 20px;
  }
}

.comment_item .item_img{
  float: left;
  text-align: left;
  margin: 0 20px 0 0;
  width: 50%;
  /*min-height: 250px;*/
  /*
  text-align: left;
  width: 210px;
  */
}
/*メッセージ、コンテンツ用*/
h5[class="MessageContent"]{
  border-left: 3px solid #48832C;
  padding-left: 7px;
  margin-left: 5px;
  text-align: left;
  font-size: 18px;
  float: left;
}

h5[class="Emphasis"]{
  font-size: 18px;
  text-align: center;
}

h5[class="Emphasis2"]{
  font-size: 28px;
  font-weight:bold;
  vertical-align:middle;
}

h5[class="Emphasis3"]{
  font-size: 40px;
}

h5[class="Sub"]{
  font-size: 10px;
  color: gray;
}

dd{
  font-size: 12px;
}

@media screen and (min-width : 768px){/*横幅が768pxを上回った時*/
  dd{font-size: 14px;}
}

@media screen and (min-width : 1024px) {/*横幅が1024pxを上回った時*/
  dd{font-size: 16px;}
}

@media screen and (min-width : 1536px) {/*横幅が1536pxを上回った時*/
  dd{font-size: 18px;}
}

.diary_txt {/*diary_txtクラス*/
  margin:0;
  text-align: left;
  padding-bottom: 0px;
}

/*about.html*/
figure[id="Timetable"] img{
  max-width: 170%;
}

/*about.html タイムテーブル*/
img[class~="single-Tt"]{
  max-width: 60%;
}

/*prepare.html*/
div[class~="row"] img[class~="double"]{
  width: 100%;
  height: 100%;
}

div[class~="row"] img[class~="single"]{
  width: 100%;
  height: 100%;
}

@media screen and (min-width : 768px) {/*横幅が768pxを上回った時*/
  div[class~="row"] img[class~="double"]{
    width: 80%;
    height: 80%;
  }
  div[class~="row"] img[class~="single"]{
    width: 40%;
    height: 40%;
    text-align: center;
  }

  img[id="fw_table"]{
    position: relative;
    left: -30px;
    max-width: 120%;
    width: 120%;
    height: auto;
  }

}

@media screen and (min-width : 1024px) {/*横幅が1024pxを上回った時*/
  div[class~="row"] img[class~="double"]{
    width: 85%;
    height: 85%;
  }
  div[class~="row"] img[class~="single"]{
    width: 45%;
    height: 45%;
  }

  img[id="fw_table"]{
    position: relative;
    left: -100px;
    max-width: 160%;
    width: 160%;
    height: auto;
  }
}

/*traffic.html*/
figure[id="0630Route"] img{
  max-width: 150%;
}

figure[id="0701Route"] img{
  max-width: 150%;
}

figure[class~="pattern5"]{
  overflow: auto;
}

a[class~="Link1"]{
  font-size: 24px;
  text-decoration: underline;
}

p.item_txt {
    height: 150px;
}

h4.fw-title {
    font-size: 26px;
    font-weight: bold;
}

.fw-box {
    margin-top: 40px;
}

/* fieldWork.html*/
